<!DOCTYPE html>
{% load static %}
{% load form_tags %}
<html>

<head>
  <meta charset="utf-8">
  <title>Guardian BI Portal</title>
  <link href="{% static 'biportal/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'biportal/css/bootstrap-theme.css' %}" rel="stylesheet">
  <style>
    body {
            background-image: url("{% static 'biportal/img/page_layouts/assets/content2_bg.png' %}");
         }
  </style>


</head>

<body>
  <div class="container" style="white-space: nowrap;">

    {% if bipage.title %}
        <h1>{{ bipage.title|replace_tokens }}</h1>
    {% endif %}

    {% if bipage.subtitle %}
        <h3>{{ bipage.subtitle|replace_tokens }}</h3>
    {% endif %}

    <div style='
        {% comment %} position: relative; {% endcomment %}
        left: 0px;
        top: 0px;
        border:1px solid silver;
        height: 450px;
        width: 460px;
        display: inline;
        float: left;'>

        <div style='padding: 10px 10px 10px 10px;'>
            {% for snippet in bipage.snippets.all %}

            <a
                class="related-widget-wrapper-link add-related"
                href='/admin/biportal/snippet/{{ snippet.pk }}/change/?_popup=1'
                onclick="return showAdminPopup(/admin/biportal/snippet/{{ snippet.pk }}/change/?_popup=1);"
                target=_blank>
                <img src='{{ snippet.image_cropped.url }}' width='440px'>
            </a>
            <br>
            <a
                class="related-widget-wrapper-link add-related"
                href='/admin/biportal/snippet/{{ snippet.pk }}/change/?_popup=1'
                onclick="return showAdminPopup(/admin/biportal/snippet/{{ snippet.pk }}/change/?_popup=1);"
                target=_blank>
            [edit]</a>

            {% endfor %}
        </div>
    </div>

    <div style='
        position: relative;
        left: 10px;
        {% comment %} top: 0px; {% endcomment %}
        border:1px solid silver;
        height: 450px;
        width: 480px;
        display: inline-block;
        overflow: none;
        float: left;
        padding: 10px 10px 10px 10px;
        '>

            {% for text in bipage.texts.all %}

            {{ text.get_htmltext_as_markdown|replace_tokens }}

            <a
                class="related-widget-wrapper-link add-related"
                href='/admin/biportal/snippethtml/{{ text.pk }}/change/?_popup=1'
                onclick="return showAdminPopup('/admin/biportal/snippethtml/{{ text.pk }}/change/?_popup=1');"
                target=_blank>
            [edit]
            </a>

            {% endfor %}
    </div>



    {% block content %}
    {% endblock %}

  </div>

  <canvas id="canvas">
  </canvas>
</body>

    {% block javascript %}
    {% endblock %}
    <script src="{% static 'biportal/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'biportal/js/popper.min.js' %}"></script>
    <script src="{% static 'biportal/js/bootstrap.js' %}"></script>

    <script>
/*global SelectBox, interpolate*/
// Handles related-objects functionality: lookup link for raw_id_fields
// and Add Another links.
'use strict';
{
    const $ = django.jQuery;

    function showAdminPopup(triggeringLink, name_regexp, add_popup) {
        const name = triggeringLink.id.replace(name_regexp, '');
        let href = triggeringLink.href;
        if (add_popup) {
            if (href.indexOf('?') === -1) {
                href += '?_popup=1';
            } else {
                href += '&_popup=1';
            }
        }
        const win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
        win.focus();
        return false;
    }

    function showRelatedObjectLookupPopup(triggeringLink) {
        return showAdminPopup(triggeringLink, /^lookup_/, true);
    }

    function dismissRelatedLookupPopup(win, chosenId) {
        const name = win.name;
        const elem = document.getElementById(name);
        if (elem.classList.contains('vManyToManyRawIdAdminField') && elem.value) {
            elem.value += ',' + chosenId;
        } else {
            document.getElementById(name).value = chosenId;
        }
        win.close();
    }

    function showRelatedObjectPopup(triggeringLink) {
        return showAdminPopup(triggeringLink, /^(change|add|delete)_/, false);
    }

    function updateRelatedObjectLinks(triggeringLink) {
        const $this = $(triggeringLink);
        const siblings = $this.nextAll('.view-related, .change-related, .delete-related');
        if (!siblings.length) {
            return;
        }
        const value = $this.val();
        if (value) {
            siblings.each(function() {
                const elm = $(this);
                elm.attr('href', elm.attr('data-href-template').replace('__fk__', value));
            });
        } else {
            siblings.removeAttr('href');
        }
    }

    function dismissAddRelatedObjectPopup(win, newId, newRepr) {
        const name = win.name;
        const elem = document.getElementById(name);
        if (elem) {
            const elemName = elem.nodeName.toUpperCase();
            if (elemName === 'SELECT') {
                elem.options[elem.options.length] = new Option(newRepr, newId, true, true);
            } else if (elemName === 'INPUT') {
                if (elem.classList.contains('vManyToManyRawIdAdminField') && elem.value) {
                    elem.value += ',' + newId;
                } else {
                    elem.value = newId;
                }
            }
            // Trigger a change event to update related links if required.
            $(elem).trigger('change');
        } else {
            const toId = name + "_to";
            const o = new Option(newRepr, newId);
            SelectBox.add_to_cache(toId, o);
            SelectBox.redisplay(toId);
        }
        win.close();
    }

    function dismissChangeRelatedObjectPopup(win, objId, newRepr, newId) {
        const id = win.name.replace(/^edit_/, '');
        const selectsSelector = interpolate('#%s, #%s_from, #%s_to', [id, id, id]);
        const selects = $(selectsSelector);
        selects.find('option').each(function() {
            if (this.value === objId) {
                this.textContent = newRepr;
                this.value = newId;
            }
        });
        selects.next().find('.select2-selection__rendered').each(function() {
            // The element can have a clear button as a child.
            // Use the lastChild to modify only the displayed value.
            this.lastChild.textContent = newRepr;
            this.title = newRepr;
        });
        win.close();
    }

    function dismissDeleteRelatedObjectPopup(win, objId) {
        const id = win.name.replace(/^delete_/, '');
        const selectsSelector = interpolate('#%s, #%s_from, #%s_to', [id, id, id]);
        const selects = $(selectsSelector);
        selects.find('option').each(function() {
            if (this.value === objId) {
                $(this).remove();
            }
        }).trigger('change');
        win.close();
    }

    window.showRelatedObjectLookupPopup = showRelatedObjectLookupPopup;
    window.dismissRelatedLookupPopup = dismissRelatedLookupPopup;
    window.showRelatedObjectPopup = showRelatedObjectPopup;
    window.updateRelatedObjectLinks = updateRelatedObjectLinks;
    window.dismissAddRelatedObjectPopup = dismissAddRelatedObjectPopup;
    window.dismissChangeRelatedObjectPopup = dismissChangeRelatedObjectPopup;
    window.dismissDeleteRelatedObjectPopup = dismissDeleteRelatedObjectPopup;

    // Kept for backward compatibility
    window.showAddAnotherPopup = showRelatedObjectPopup;
    window.dismissAddAnotherPopup = dismissAddRelatedObjectPopup;

    $(document).ready(function() {
        $("a[data-popup-opener]").on('click', function(event) {
            event.preventDefault();
            opener.dismissRelatedLookupPopup(window, $(this).data("popup-opener"));
        });
        $('body').on('click', '.related-widget-wrapper-link', function(e) {
            e.preventDefault();
            if (this.href) {
                const event = $.Event('django:show-related', {href: this.href});
                $(this).trigger(event);
                if (!event.isDefaultPrevented()) {
                    showRelatedObjectPopup(this);
                }
            }
        });
        $('body').on('change', '.related-widget-wrapper select', function(e) {
            const event = $.Event('django:update-related');
            $(this).trigger(event);
            if (!event.isDefaultPrevented()) {
                updateRelatedObjectLinks(this);
            }
        });
        $('.related-widget-wrapper select').trigger('change');
        $('body').on('click', '.related-lookup', function(e) {
            e.preventDefault();
            const event = $.Event('django:lookup-related');
            $(this).trigger(event);
            if (!event.isDefaultPrevented()) {
                showRelatedObjectLookupPopup(this);
            }
        });
    });
}


    </script>

</html>