<!DOCTYPE html>
{% load static %}
{% load form_tags %}
<html>

<head>
  <meta charset="utf-8">
  <title>Guardian BI Portal</title>
  <link href="{% static 'biportal/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'biportal/css/bootstrap-theme.css' %}" rel="stylesheet">
  <style>
    body {
            background-image: url("{% static 'biportal/img/page_layouts/assets/content2_bg.png' %}");
         }
  </style>


</head>

<body>
  <div class="container" style="white-space: nowrap;">

    {% if bipage.title %}
        <h1>{{ bipage.title|replace_tokens }}</h1>
    {% endif %}

    {% if bipage.subtitle %}
        <h3>{{ bipage.subtitle|replace_tokens }}</h3>
    {% endif %}

    <div style='
        {% comment %} position: relative; {% endcomment %}
        left: 0px;
        top: 0px;
        border:1px solid silver;
        height: 450px;
        width: 460px;
        display: inline;
        float: left;'>

        <div style='padding: 10px 10px 10px 10px;'>
            {% for snippet in bipage.snippets.all %}

            <a
                class="related-widget-wrapper-link add-related"
                href='/admin/biportal/snippet/{{ snippet.pk }}/change/?_popup=1'
                onclick="return showAdminPopup(/admin/biportal/snippet/{{ snippet.pk }}/change/?_popup=1);"
                target=_blank>
                <img src='{{ snippet.image_cropped.url }}' width='440px'>
            </a>
            <br>
            <a
                class="related-widget-wrapper-link add-related"
                href='/admin/biportal/snippet/{{ snippet.pk }}/change/?_popup=1'
                onclick="return showAdminPopup(/admin/biportal/snippet/{{ snippet.pk }}/change/?_popup=1);"
                target=_blank>
            [edit]</a>

            {% endfor %}
        </div>
    </div>

    <div style='
        position: relative;
        left: 10px;
        {% comment %} top: 0px; {% endcomment %}
        border:1px solid silver;
        height: 450px;
        width: 480px;
        display: inline-block;
        overflow: none;
        float: left;
        padding: 10px 10px 10px 10px;
        '>

        {% comment %} <div style='padding: 10px 10px 10px 10px;'> {% endcomment %}
            {% for text in bipage.texts.all %}

            {{ text.get_htmltext_as_markdown|replace_tokens }}

            <a
                class="related-widget-wrapper-link add-related"
                href='/admin/biportal/snippethtml/{{ text.pk }}/change/?_popup=1'
                onclick="return showAdminPopup('/admin/biportal/snippethtml/{{ text.pk }}/change/?_popup=1');"
                target=_blank>
            [edit]
            </a>


            {% endfor %}
        {% comment %} </div> {% endcomment %}
    </div>



    {% block content %}
    {% endblock %}

  </div>

  <canvas id="canvas">
  </canvas>
</body>

    {% block javascript %}
    {% endblock %}
    <script src="{% static 'biportal/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'biportal/js/popper.min.js' %}"></script>
    <script src="{% static 'biportal/js/bootstrap.js' %}"></script>

</html>