<!DOCTYPE html>
{% load static %}
{% load form_tags %}
<html>

<head>
  <meta charset="utf-8">
  <title>Guardian BI Portal</title>
  <link href="{% static 'biportal/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'biportal/css/bootstrap-theme.css' %}" rel="stylesheet">
  <style>
    body {
            background-image: url("{% static 'biportal/img/page_layouts/assets/header_bg.png' %}");
         }
  </style>
</head>

<body>
  <div class="container">
    <div style='position: absolute; top: 200px; left: 45px; width: 600px;'>
    <h1>{{ bipage.title|replace_tokens }}</h1>
    </div>

    <div style='position: absolute; top: 350px; left: 45px; width: 500px;'>
    <h3>{{ bipage.subtitle|replace_tokens }}</h3>
    </div>


    {% block content %}
    {% endblock %}

  </div>

  <canvas id="canvas">
  </canvas>
</body>

    {% block javascript %}
    {% endblock %}
    <script src="{% static 'biportal/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'biportal/js/popper.min.js' %}"></script>
    <script src="{% static 'biportal/js/bootstrap.js' %}"></script>

</html>