<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <title>Guardian BI Portal</title>
  <link href="{% static 'biportal/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'biportal/css/bootstrap-theme.css' %}" rel="stylesheet">
</head>

<body>

  <nav class="navbar  mynav" role="navigation" id="navbar">
    <div class="container">

      <a class="navbar-brand mynav" href="{% url 'home' %}">Guardian BI Portal</a>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        {% comment %} <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
        <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
        <li><a href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a></li>{% endcomment %}
        <li><a href="{% url 'admin:index' %}" class="btn btn-simple">Admin</a></li>
        <li><a href='/admin/biportal/presentation' class="btn btn-simple">Presentations</a></li>
        <li><a href='/admin/biportal/snippet' class="btn btn-simple">BI Snippets</a></li>
        <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
        {% else %}
        {% comment %} <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li> {% endcomment %}
        <li><a href="/admin/login/?next=/admin/" class="btn btn-simple">Log in</a></li>
        {% comment %} <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li> {% endcomment %}
        {% endif %}
      </ul>

    </div>
  </nav>
  <div class="container">

    {% block content %}

    {% endblock %}

  </div>

  <canvas id="canvas"></canvas>
</body>

    {% block javascript %}
    {% endblock %}
    <script src="{% static 'biportal/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'biportal/js/popper.min.js' %}"></script>
    <script src="{% static 'biportal/js/bootstrap.js' %}"></script>
    <script src="{% static 'biportal/js/cropper.min.js' %}"></script>

</html>